

.contactstyle{
    background-color:#7bed9f;
    height:500px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    border:1px solid black;
    text-transform: uppercase;
    position:relative;
}

.contactstyle h3{
  position: absolute;
  top:30px;
  color:darkgrey
}